.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  background-color: #208075;
  color: black;
  align-items: center;
}

.header ul {
  margin: 2rem;
  padding: 0rem;
  list-style: none;
  display: flex;
  align-items: baseline;
}

.header li {
  padding: 1rem;
  /* background: #eb01a5; */
  background-color: #6a6;
}

.header li:focus,
.header li:active,
.header li:hover {
  background-color: rgb(118, 180, 118);
}

.skipToMainContentLink {
  position: absolute;
  left: -9999px;
  z-index: 999;
  padding: 1em;
  background-color: black;
  color: white;
  opacity: 0;
}
.skipToMainContentLink:focus {
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.langContainer button {
  background: #6a6;
  color: black;
  padding: 1rem;
}