.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  background-color: #208075;
  color: black;
  align-items: center;
}

.header ul {
  margin: 2rem;
  padding: 0rem;
  list-style: none;
  display: flex;
  align-items: baseline;
}

.header li {
  padding: 1rem;
  /* background: #eb01a5; */
  background-color: #6a6;
}

.header li:focus,
.header li:active,
.header li:hover {
  background-color: rgb(118, 180, 118);
}
